<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/admin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Административная панель chukka
    </title>
</head>
<body>
    <span class="header">
        <a href="/">
        <div class="logo">chukka</div>
        </a>
        <div class="exit">
            <img src="/icons/logout.png" alt="Выйти из аккаунта">
        </div>
    </span>
    <div class="marquee">
        <p>
        Эта панель предназначена для администрирования системы.
        Пожалуйста, проявите осторожность при внесении изменений и выполнении действий.
        Неправильные действия могут повлиять на работу системы и данные пользователей.
        </p>
        </div>
    <div class="mainSpace">
        <div class="menu">
            <div class="menuItem" id="shoe"><p>Обувь</p></div>
            <div class="menuItem" id="brand"><p>Бренды</p></div>
            <div class="menuItem" id="size"><p>Размеры</p></div>
            <div class="menuItem" id="sale"><p>Скидки</p></div>
            <div class="menuItem" id="user_order"><p>Заказы</p></div>
            <div class="menuItem" id="appuser"><p>Пользователи</p></div>
            <div class="menuItem" id="review"><p>Отзывы</p></div>
            <div class="menuItem" id="discounted_shoes"><p>Обувь со скидкой</p></div>
            <div class="menuItem" id="bucket_row"><p>Cтроки корзины</p></div>
        </div>
        <div class="actionSpace">
            <div class="informationContainer">
                <div>
                    <h1></h1>
                </div>
                <div class="rowConmtainer">
                    <div class="buttonContainer">
                        <div class="add" onclick="add()"><img src="/icons/add.png"></div>
                        <div class="edit" onclick="edit()"><img src="/icons/edit.png"></div>
                        <div class="remove" onclick="remove()"><img src="/icons/remove.png"></div>

                    </div>
                    <div class="tableContainer">
                        <table id="data-table">
                            
                        </table>
                    </div>
                </div>
            </div>
            <div class="messageContainer">
                <div></div>
            </div>
        </div>
        <div class="Window brandWindow">
            <div class="WindowCcontent brandWindow-content">
                <h1></h1>
                <div class="item">
                    <p>Имя</p>
                    <input type="text" id="name" name="name" required >
                  </div>
                  <div class="item">
                    <p>Описание</p>
                    <input type="text" id="description" name="description" required>
                  </div>
                <div class="buttons">
                    <button class="brandSubmit" >Подвердить</button>
                    <button class="brandClose" >Отмена</button>
                </div>
            </div>
            
        </div>
        <div class="Window SaleWindow">
            <div class="WindowCcontent SaleWindow-content">
                <h1></h1>
                <div class="item">
                    <p>Значение в процентах</p>
                    <input type="number" id="value" name="value" required >
                  </div>
                  <div class="item">
                    <p>Описание</p>
                    <input type="text" id="description" name="description" required>
                  </div>
                  <div class="item">
                    <p>Дата начала</p>
                    <input type="date" id="start_date" name="start_date" required>
                  </div>
                  <div class="item">
                    <p>Дата окончания</p>
                    <input type="date" id="end_date" name="end_date" required>
                  </div>
                <div class="buttons">
                    <button class="saleSubmit" >Подвердить</button>
                    <button class="saleClose" >Отмена</button>
                </div>
            </div>
            
        </div>
        <div class="Window UserWindow">
            <div class="WindowCcontent UserWindow-content">
                <h1></h1>
                <div class="item">
                    <p>Имя</p>
                    <input type="text" id="name" name="name" >
                  </div>
            
                  <div class="item">
                    <p>Фамилия</p>
                    <input type="text" id="surname" name="surname"  >
                  </div>
                  <div class="item">
                    <p>Отчество</p>
                    <input type="text" id="patronymic" name="patronymic" >
                  </div>
                  <div class="item">
                    <p>Пол</p>
                    <select id="gender" name="gender" required>
                      <option value="Мужской">Мужской</option>
                      <option value="Женский">Женский</option>
                    </select>
                  </div>
                  <div class="item">
                    <p>Телефон</p>
                    <input type="number" id="phone_number" name="phone_number" >
                  </div>
            
                  <div class="item">
                    <p>Почта</p>
                    <input type="email" id="email" name="email"  required>
                  </div>
                  <div class="item">
                    <p>Логин</p>
                    <input type="text" id="login" name="login"  required>
                  </div >
                  <div class="item">
                    <p>Пароль</p>
                    <input type="password" id="password" name="password"  required>
                  </div>
                  <div class="item">
                    <p>Тип пользователя</p>
                    <select id="user_type" name="user_type" required>
                      <option value="Клиент">Клиент</option>
                      <option value="Администратор">Администратор</option>
                    </select>
                  </div>
                <div class="buttons">
                    <button class="userSubmit" >Подвердить</button>
                    <button class="userClose" >Отмена</button>
                </div>
            </div>
        </div>
        <div class="Window Discounted_shoesWindow">
          <div class="WindowCcontent Discounted_shoesWindow-content">
              <h1></h1>
              <div class="item">
                <p>Название обуви</p>
                <select id="shoe_name" name="shoe_name" required>
                </select>
              </div>
              <div class="item">
                  <p>Описание скидки</p>
                  <select id="sale_description" name="sale_description" required>
                  </select>
                </div>
              <div class="buttons">
                  <button class="Discounted_shoesSubmit" >Подвердить</button>
                  <button class="Discounted_shoesClose" >Отмена</button>
              </div>
          </div>    
      </div>
      <div class="Window SizeWindow">
        <div class="WindowCcontent SizeWindow-content">
            <h1></h1>
            <div class="item">
              <p>Название обуви</p>
              <select id="shoe_name" name="shoe_name" required>
              </select>
            </div>
            <div class="item">
                <p>Размер обуви</p>
                <input type="number" id="size_value" name="size_value" >
              </div>
            <div class="buttons">
                <button class="SizeSubmit" >Подвердить</button>
                <button class="SizeClose" >Отмена</button>
            </div>
        </div>    
    </div>
    <div class="Window User_OrderWindow">
      <div class="WindowCcontent User_OrderWindow-content">
          <h1></h1>
          <div class="item">
            <p>Пользователь</p>
            <select id="user_login" name="user_login" required>
            </select>
          </div>
          <div class="item">
            <p>Дата заказа</p>
            <input type="date" id="date" name="date"  required>
          </div>
          <div class="item">
            <p>Время заказа</p>
            <input type="time" id="time" name="time"  required>
          </div>
          <p>Тип доставки</p>
          <select id="delivery_method" name="delivery_method" required>
            <option value="Стандарт">Стандарт</option>
            <option value="Экспресс">Экспресс</option>
          </select>
          <div class="item">
            <p>Адрес доставки</p>
            <input type="text" id="adress" name="adress"  required>
          </div>
          <div class="buttons">
              <button class="User_OrderSubmit" >Подвердить</button>
              <button class="User_OrderClose" >Отмена</button>
          </div>
      </div>    
  </div>
  <div class="Window ShoeWindow">
    <div class="WindowCcontent ShoeWindow-content">
        <h1></h1>
        <div class="item">
          <p>Название модели</p>
          <input type="text" id="name" name="name" >
        </div>
        <div class="item">
          <p>Тип обуви</p>
          <select id="model_type" name="model_type" required>
            <option value="Беговые кроссовки">Беговые кроссовки</option>
            <option value="Кроссовки">Кроссовки</option>
            <option value="Кеды">Кеды</option>
            <option value="Повседневные кроссовки">Повседневные кроссовки</option>
          </select>
        </div>
        <div class="item">
          <p>Бренд</p>
          <select id="brand" name="brand" required>
          </select>
        </div>
        <div class="item">
          <p>Дата поставки</p>
          <input type="date" id="date" name="date"  required>
        </div>
        <div class="item">
          <p>Описание модели</p>
          <input type="text" id="description" name="description" >
        </div>
        <div class="item">
          <p>Цена</p>
          <input type="number" id="cost" name="cost" >
        </div>
        <div class="item">
          <p>Пол</p>
          <select id="gender" name="gender" required>
            <option value="Мужской">Любой</option>
            <option value="Мужской">Мужской</option>
            
            <option value="Женский">Женский</option>
          </select>
        </div>
        <div class="item">
          <p>Детские</p>
          <select id="childrens" name="childrens" required>
            <option value="Нет">Нет</option>
            <option value="Да">Да</option>
          </select>
        </div>
        <div class="item">
          <p>Цвет</p>
          <input type="text" id="color" name="color" >
        </div>
        <h1>Размеры</h1>
        <div class="item" id="sizesContainer">
          
        </div>
        
        <div class="buttons">
            <button class="ShoeSubmit" >Подвердить</button>
            <button class="ShoeClose" >Отмена</button>
        </div>
    </div>    
</div>
<div class="Window bucket_rowWindow">
  <div class="WindowCcontent bucket_rowWindow-content">
      <h1></h1>
      <div class="item">
        <p>Название модели</p>
        <select id="model_name" name="model_name" required>
        </select>
      </div>
      <div class="item">
        <p>Количество пар обуви</p>
        <input type="number" id="amount" name="amount" >
      </div>
      <div class="item">
        <p>Пользователь</p>
        <select id="user_login" name="user_login" required>
        </select>
      </div>
      <div class="buttons">
          <button class="bucket_rowSubmit" >Подвердить</button>
          <button class="bucket_rowClose" >Отмена</button>
      </div>
      
  </div>    
</div>
    </div>
    <div class="Window reviewWindow">
      <div class="WindowCcontent reviewWindow-content">
          <h1></h1>
          <div class="item">
            <p>Название модели</p>
            <select id="model_name" name="model_name" required>
            </select>
          </div>
          <div class="item">
            <p>Пользователь</p>
            <select id="user_login" name="user_login" required>
            </select>
          </div>
          <div class="item">
            <p>Текст</p>
            <input type="text" id="text" name="text" >
          </div>
          <div class="item">
            <p>Оценка</p>
            <input type="number" id="rating" name="rating" min="1" max="5" step="0.5" value="4" />
          </div>
          <div class="item">
            <p>Дата заказа</p>
            <input type="date" id="date" name="date"  required>
          </div>
          <div class="item">
            <p>Время заказа</p>
            <input type="time" id="time" name="time"  required>
          </div>
          <div class="buttons">
              <button class="reviewSubmit" >Подвердить</button>
              <button class="reviewClose" >Отмена</button>
          </div>
          
      </div>    
    </div>
        </div>
    <script src="/scripts/adminScript.js"></script>
</body>
</html>