<!DOCTYPE html>
<html lang="ru">
<head>
  <link rel="stylesheet" href="/styles/home.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CHUKKA</title>
</head>
<body>
  <header>
    <div class="header-block">
      <div class="logo-block"><p class="logo">chukka</p></div>
      <!-- <div class="categories-block">
        <div class="categories"><p>Man</p></div>
        <div class="categories"><p>Women</p></div>
        <div class="categories"><p>Kids</p></div>
        <div class="categories"><p>Sale</p></div>
        <div class="categories"><p>New</p></div>
      </div> -->
      <div class="func-btn">
        <a href="/catalog"><img src="icons/catalog.png"></a>
        <a href="/login"><img src="icons/profile.png"></a>
        <!-- <img src="icons/bag.png"> -->
      </div>
    </div>
    <div class="header-info">
      
    </div>
    <!-- <div class="scroll-block"><img src="icons/scroll-wheel.png"></div> -->
  </header>

</body>
</html>